<div>
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="clientes">
        <mat-icon>people</mat-icon>
        <span>Clientes</span>
      </button>
      <mat-menu #clientes="matMenu">
        <button mat-menu-item routerLink='/customers/view'>Mis Clientes</button>
        <!--<button mat-menu-item routerLink='/customers/detail'>Ver Pedido</button>-->
        <button mat-menu-item routerLink='/customers/create'>Nuevo Cliente</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="pedidos">
        <mat-icon>description</mat-icon>
        <span>Pedidos</span>
      </button>
      <mat-menu #pedidos="matMenu">
        <button mat-menu-item routerLink='/orders/view'>Mis Pedidos</button>
        <button mat-menu-item routerLink='/orders/detail'>Ver Pedido</button>
        <button mat-menu-item routerLink='/orders/create'>Nuevo Pedido</button>
      </mat-menu>
      <button mat-menu-item>
        <mat-icon>timeline</mat-icon>
        <span routerLink='/pageNotFound'>Reportes</span>
      </button>
      <button mat-menu-item>
        <mat-icon>lock</mat-icon>
        <span *ngIf="!logout" class="nav-link" routerLink="/logout">Logout</span>
        <span *ngIf="logout" class="nav-link" routerLink="/login">Login</span>
      </button>
    </mat-menu>
    <img src="assets/img/Simsiroglu-Logo-Blanco.svg" alt="{{title}}"/>

    <i class="material-icons" matBadge="0" matBadgeColor="warn" matBadgePosition="above after" style="cursor: pointer" matTooltip="Mensajes - Proximamente" matTooltipPosition="left">chat</i>
  </mat-toolbar>
</div>
<app-speed-dial-fab></app-speed-dial-fab>