<div>
  <mat-toolbar color="primary" class="header">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>people</mat-icon>
            <span><a class="nav-link" routerLink='/pageNotFound'>Clientes</a></span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="pedidos">
            <mat-icon>description</mat-icon>
            <span [matMenuTriggerFor]="fish" >Pedidos</span>
          </button>
          <mat-menu #pedidos="matMenu">
              <button mat-menu-item><a class="dropdown-item" routerLink='/orders/view'>Mis Pedidos</a></button>
              <button mat-menu-item><a class="dropdown-item" routerLink='/orders/detail'>Ver Pedido</a></button>
              <button mat-menu-item><a class="dropdown-item" routerLink='/orders/create'>Nuevo Pedido</a></button>
            </mat-menu>
          <button mat-menu-item>
            <mat-icon>timeline</mat-icon>
            <span><a class="nav-link" routerLink='/pageNotFound'>Reportes</a></span>
          </button>
          <button mat-menu-item>
              <mat-icon>lock</mat-icon>
              <span>
                  <a *ngIf="!logout" class="nav-link" routerLink="/logout">Logout</a>
                  <a *ngIf="logout" class="nav-link" routerLink="/login">Login</a>
              </span>
            </button>
        </mat-menu>
    <img src="assets/img/Simsiroglu-Logo-Blanco.svg" alt="{{title}}" [routerLink]="['/']" />
  </mat-toolbar>
</div>