<mat-card>
  <mat-card-title>Bienvenido</mat-card-title>
  <p>Proximamente Dashboard del vendedor - comunicaciones internas - metricas</p>
  <div ng-if=isAdmin>
    <p>Usted a iniciado sesión como usuario Admin</p>
    <h3>Vendedores</h3>
  </div>
  <mat-form-field>
    <mat-select placeholder="Seleccione un vendedor" (ngModelChange)="onClick($event)" [(ngModel)]="selectedSeller" >
      <mat-option *ngFor="let seller of sellers" [value]="seller.id">
          {{seller.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>