<h3>Bienvenido</h3>
<div class="table-responsive table-striped">
  <p>Dashboard vendedor - comunicaciones - metricas - Si es admin ver lista de vendedores</p>
  <div ng-if=isAdmin>
    <label  for="selectedSeller">Vendedores</label>
  </div>
  <select #seller class="custom-select" [(ngModel)]="selectedSeller" data-live-search="true" id= "selectedSeller">
    <option *ngFor="let seller of sellers" [ngValue]=seller.id> {{seller.nom}}   
  </option>
  </select>
  <button id="button" (click)="onClick()">Ver Detalle</button> 
 
</div>
