.example-card {
    max-width: 100%;
}
.mat-grid-tile .mat-figure {
    align-items: end!important;
}
.mat-card {
    width: 85%;
}
.mat-grid-tile {
    text-align: left!important;
}
.alert {
    background-color: #FFD815;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 90%!important;
}
.count {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
    color: #333;
    background: #eee;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 4px;
}
.ordstatus button {
    width: 100%;
}