.example-card {
    max-width: 100%;
}
.mat-grid-tile .mat-figure {
    align-items: flex-start!important;
}
.mat-card {
    width: 85%;
}
.mat-grid-tile {
    text-align: left!important;
}
.alert {
    background-color: #FFD815;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 90%!important;
}