<mat-grid-list cols="3" rowHeight="2:2">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="login">
      <mat-card-title>Cambiar Contraseña</mat-card-title>
      <form >
        <mat-form-field>
          <input matInput type="email" placeholder="Usuario" dividerColor="accent" formControlName="user" #user
            required autofocus>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña actual" dividerColor="accent" formControlName="oldpassword"
            #oldpassword>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña nueva" dividerColor="accent" formControlName="newpassword"
            #newpassword required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Reingrese la Contraseña nueva" dividerColor="accent" formControlName="duplicatedPass"
            #duplicatedPass required>
        </mat-form-field>
        <mat-card-actions align="middle">
          <button mat-raised-button color="accent" (click)="changePassword(user.value , oldpassword.value , newpassword.value, duplicatedPass.value);">Cambiar</button>
          <p class="mt-5 mb-3 text-muted">&copy;2018</p>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>