html,
body {
  height: 100%;
  background-color: #fff;
  margin: 0;
  font-family: sans-serif;
}

body {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
}
.header img {
  margin: auto;
  height: auto;
  max-height: 30px;
}

.header {
  color: #fff;
  background: #39643a;
}

.button-row {
  position: fixed;
  z-index: 999;
  bottom: 1%;
  right: 1%;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.mat-grid-tile .mat-figure {
  align-items: flex-start!important;
}
.header img {
  margin: auto;
}

.header {
  color: #fff !important;
}


.static_label {
  color: #4caf50;
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: block;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(224, 224, 224, 0.5);
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenavend {
  min-width: 200px;
}
@media only screen and (max-width: 768px) {
  .header img {
    max-height: 20px;
  }
}