<mat-card>
  <mat-card-title>Detalle del Pedido #{{orderDetail.id}}</mat-card-title>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Datos del pedido</strong>
        </mat-panel-title>
        <mat-panel-description>
          Información del cliente
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label">Cliente</span>
            {{orderDetail.cliente.nom}}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label"># Pedido</span>
            {{orderDetail.id}}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label">Fecha</span>
            {{orderDetail.fem| date:'dd-MM-yyyy'}}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label">Dirección</span>
            {{orderDetail.address.dir}} - {{orderDetail.address.localidad}}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label">Flete</span>
            <!-- {{ orderDetail.address.flete.nom }} -->
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label">Pago</span>
            <!-- {{ orderDetail.address.flete.nom }} -->
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
          <div class="static_field">
            <span class="static_label">Observaciones</span>
            <!-- {{ orderDetail.address.flete.nom }} -->
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Detalle del pedido</strong>
        </mat-panel-title>
        <mat-panel-description>
          Detalle de la compra
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--<table mat-table [dataSource]="orderDetail.peditms" class="mat-elevation-z8">


        <ng-container matColumnDef="itemdatum">
          <th mat-header-cell *matHeaderCellDef># Art</th>
          <td mat-cell *matCellDef="let item"> {{ (item && item.itemdatum && item.itemdatum.art) ?
            item.itemdatum.art.codfac : ''}} </td>
        </ng-container>
        <ng-container matColumnDef="itemname">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let item"> {{ (item && item.itemdatum && item.itemdatum.art) ?
            item.itemdatum.art.nom : ''}} </td>
        </ng-container>
        <ng-container matColumnDef="itemvariant">
          <th mat-header-cell *matHeaderCellDef>Variante</th>
          <td mat-cell *matCellDef="let item"> {{ (item && item.itemdatum && item.itemdatum.variante) ?
            item.itemdatum.variante.nom: '' }} </td>
        </ng-container>
        <ng-container matColumnDef="can_ped">
          <th mat-header-cell *matHeaderCellDef>Cant. Pedida</th>
          <td mat-cell *matCellDef="let item"> {{ (item)? item.can_ped: ''}} </td>
        </ng-container>
        <ng-container matColumnDef="can_ped">
          <th mat-header-cell *matHeaderCellDef>Cant. Autorizada</th>
          <td mat-cell *matCellDef="let item"> {{ (item)? item.can_aut: ''}} </td>
        </ng-container>
        <ng-container matColumnDef="pre_ped">
          <th mat-header-cell *matHeaderCellDef>$ Pedido</th>
          <td mat-cell *matCellDef="let item"> {{ (item)? item.pre_ped: ''}} </td>
        </ng-container>
        <ng-container matColumnDef="pre_ped">
          <th mat-header-cell *matHeaderCellDef>$ Autorizad0</th>
          <td mat-cell *matCellDef="let item"> {{ (item)? item.pre_aut: ''}} </td>
        </ng-container>
      </table>-->

      <table>
        <thead>
          <tr>
            <th class="col-xs-1">Imagen</th>
            <th class="col-xs-1"># Art</th>
            <th class="col-xs-4 ">Desc</th>
            <th class="col-xs-2">Variante</th>
            <th class="col-xs-1">Cant. Pedida</th>
            <th class="col-xs-1">Cant. Autor.</th>
            <th class="col-xs-1">$ pedido</th>
            <th class="col-xs-1">$ Autot.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderDetail.peditms">
            <td class="col-xs-1" (click)="getProdPict(item.itemdatum.art.codfac, item.itemdatum.variante.codigo)"><i class="material-icons">photo </i><div *ngFor="let pict of imgUrl"><img src="{{pict.image_url}}" alt="Producto" width="25" style="border-radius:25px; height:25px; overflow:hidden"/></div></td>
            <td class="col-xs-1"> {{ (item && item.itemdatum && item.itemdatum.art) ? item.itemdatum.art.codfac : ''}}
            </td>
            <td class="col-xs-4"> {{ (item && item.itemdatum && item.itemdatum.art) ? item.itemdatum.art.nom : ''}}</td>
            <td class="col-xs-2"> {{ (item && item.itemdatum && item.itemdatum.variante) ?
              item.itemdatum.variante.nom:'' }} </td>
            <td class="col-xs-1"> {{ (item)? item.can_ped: ''}}</td>
            <td class="col-xs-1"> {{ (item)? item.can_aut: ''}}</td>
            <td class="col-xs-1"> {{ (item)? item.pre_ped: ''}}</td>
            <td class="col-xs-1"> {{ (item)? item.pre_aut: '' }}</td>
          </tr>
        </tbody>
      </table>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>