<mat-card>
  <mat-card-title>Detalle del Pedido #{{orderDetail.id}}</mat-card-title>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos del pedido
        </mat-panel-title>
        <mat-panel-description>
          Información del cliente
        </mat-panel-description>
      </mat-expansion-panel-header>

      # Pedido<br />
      {{orderDetail.id}}<br />
      Fecha<br />
      {{orderDetail.fem| date:'dd-MM-yyyy'}}<br />
      Cliente<br />
      {{orderDetail.cliente.nom}}<br />
      Direccion<br />
      {{orderDetail.address.dir}} - {{orderDetail.address.localidad}}<br />
      Flete<br />
      <!-- {{ orderDetail.address.flete.nom }}<br />-->
      Pago<br />
      Observaciones
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detalle del pedido
        </mat-panel-title>
        <mat-panel-description>
          Detalle de la compra
        </mat-panel-description>
      </mat-expansion-panel-header>


      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-xs-1"># Art</th>
            <th class="col-xs-4 ">Desc</th>
            <th class="col-xs-3">Variante</th>
            <th class="col-xs-1">Cant. Pedida</th>
            <th class="col-xs-1">Cant. Autor.</th>
            <th class="col-xs-1">$ pedido</th>
            <th class="col-xs-1">$ Autot.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderDetail.peditms">
            <td class="col-xs-1"> {{ (item && item.itemdatum && item.itemdatum.art) ? item.itemdatum.art.codfac : ''}}
            </td>
            <td class="col-xs-4"> {{ (item && item.itemdatum && item.itemdatum.art) ? item.itemdatum.art.nom : ''}}</td>
            <td class="col-xs-3"> {{ (item && item.itemdatum && item.itemdatum.variante) ? item.itemdatum.variante.nom:
              '' }} </td>
            <td class="col-xs-1"> {{ (item)? item.can_ped: ''}}</td>
            <td class="col-xs-1"> {{ (item)? item.can_aut: ''}}</td>
            <td class="col-xs-1"> {{ (item)? item.pre_ped: ''}}</td>
            <td class="col-xs-1"> {{ (item)? item.pre_aut: '' }}</td>
          </tr>
        </tbody>
      </table>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>