<mat-card>
  <mat-card-title>Orden de Pedido</mat-card-title>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Datos del pedido</strong>
        </mat-panel-title>
        <mat-panel-description>
          Información del cliente
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="3" rowHeight="60px">
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" placeholder="Cliente" aria-label="Cliente" matInput [formControl]="myControl"
              [matAutocomplete]="auto" (ngModelChange)="onClientSelected($event)" [(ngModel)]="clientId">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.id}} - {{option.nom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!--<mat-form-field>
            <mat-select class="custom-select" placeholder="Cliente" (ngModelChange)="onClientSelected($event)"
              [(ngModel)]="clientId" data-live-search="true">
              <mat-option *ngFor="let client of clients" [value]="client.id">
                {{client.id}} - {{client.nom}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field *ngIf="selectedClient">
            <mat-select class="custom-select" placeholder="Domicilio" (ngModelChange)="onAdressSelected($event)"
              [(ngModel)]="selectedAddress" data-live-search="true">
              <!--<mat-option [value]="selectedAddress">
                {{selectedAddress.dir}} - {{selectedAddress.localidad}}
              </mat-option>-->
              <mat-option *ngFor="let addr of selectedClient.address" [value]=addr.id> {{addr.dir}} -
                {{addr.localidad}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--<select *ngIf="selectedClient" class="custom-select" (ngModelChange)="onAdressSelected($event)" [(ngModel)]="selectedAddress"
            data-live-search="true" id="selectedAddress">
            <option [value]="selectedAddress" selected="selected">{{selectedAddress.dir}} -
              {{selectedAddress.localidad}}
            </option>
            <option *ngFor="let addr of selectedClient.address" [ngValue]=addr.id> {{addr.dir}} - {{addr.localidad}}
            </option>
          </select>-->
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="static_field">
            <span class="static_label">Flete</span>
            {{ (selectedClient && selectedAddress && selectedAddress.flete) ? selectedAddress.flete.nom : ''}}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Pago" [(ngModel)]="conven" data-live-search="true" id="convenId">
              <mat-option [value]="1" selected="selected">CONTADO</mat-option>
              <mat-option [value]="2">CHEQUES 30 dias</mat-option>
              <mat-option [value]="3">CHEQUES 30 - 60 dias</mat-option>
              <mat-option [value]="4">CHEQUES 30 - 60 - 90 dias</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <mat-form-field>
            <input type="text" matInput placeholder="Observaciones">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Detalle del pedido</strong>
        </mat-panel-title>
        <mat-panel-description>
          Detalle de la compra
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="9" rowHeight="60px">
        <mat-grid-tile [colspan]="6">

          <mat-form-field>
            <input type="text" placeholder="Artículo" aria-label="Artículo" matInput [formControl]="myControlArt"
              [matAutocomplete]="autoArt" (ngModelChange)="onArtSelected($event)" [(ngModel)]="artId">
            <mat-autocomplete autoActiveFirstOption #autoArt="matAutocomplete" [displayWith]="displayFnArt">
              <mat-option *ngFor="let art of filteredOptionsArt | async" [value]="art">
                {{art.id}} - {{art.nom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <div class="static_field">
            <span class="static_label">Precio Sugerido</span>
            {{ precio }}
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-form-field>
            <input matInput placeholder="Precio" [(ngModel)]="price" type="number" min="0" step="0.01"
              data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="price" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="9" rowHeight="40px">
        <mat-grid-tile [colspan]="1"><strong>Código</strong></mat-grid-tile>
        <mat-grid-tile [colspan]="6"><strong>Descripción</strong></mat-grid-tile>
        <mat-grid-tile [colspan]="2"><strong>Cantidad</strong></mat-grid-tile>
        <div *ngFor="let item of selectedItems; let i = index">
          <mat-grid-tile [colspan]="1">{{item.itemdatum.variante.codigo}} </mat-grid-tile>
          <mat-grid-tile [colspan]="6">{{item.itemdatum.variante.nom}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <mat-form-field><input matInput placeholder="Cantidad" #selectedCount (change)="addCount(i, selectedCount.value);"></mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <button mat-icon-button color="accent" (click)="removeVariante(i)" matTooltip="Eliminar variante"
              matTooltipPosition="above">
              <mat-icon aria-label="Eliminar variante">remove_circle_outline</mat-icon>
            </button>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf="hasVariantes">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Seleccione Variantes</strong>
        </mat-panel-title>
        <mat-panel-description>
          Seleccione las variantes del producto que desea agregar al pedido
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="9" rowHeight="40px">
        <mat-grid-tile [colspan]="1"><strong>Color</strong></mat-grid-tile>
        <mat-grid-tile [colspan]="1"><strong>Código</strong></mat-grid-tile>
        <mat-grid-tile [colspan]="5"><strong>Descripción</strong></mat-grid-tile>
        <mat-grid-tile [colspan]="1"><strong>Stock</strong></mat-grid-tile>
        <mat-grid-tile [colspan]="1"><strong>Agregar</strong></mat-grid-tile>
        <div *ngFor="let item of variantes; let i = index">
          <mat-grid-tile [colspan]="1">
            <a *ngIf="item.imagen !== ''" [href]="item.imagen" data-lightbox="image" data-title="Artículo: {{item.codigo}} - Variante: {{item.nom}}  - Stock: {{item.pza}}">
              <img [src]="item.imagen" onError="this.src='https://simsiroglu.com.ar/sim/wp-content/uploads/2017/07/polish.png';"
                alt="Producto" width="25" style="border-radius:25px; height:25px; overflow:hidden; cursor:pointer"
                class="pict" matTooltip="Ver imagen" matTooltipPosition="above" />
            </a>
            <a *ngIf="item.imagen == ''" href="https://simsiroglu.com.ar/sim/wp-content/uploads/2017/07/polish.png"
              data-lightbox="image" data-add="(item)" data-title="Stock: {{item.codigo}} - Variante: {{item.nom}}  - Variante: {{item.pza}}">
              <img [src]="item.imagen" onError="this.src='https://simsiroglu.com.ar/sim/wp-content/uploads/2017/07/polish.png';"
                alt="Producto" width="25" style="border-radius:25px; height:25px; overflow:hidden; cursor:pointer"
                class="pict" matTooltip="Ver imagen" matTooltipPosition="above" />
            </a>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">{{item.codigo}}</mat-grid-tile>
          <mat-grid-tile [colspan]="5">{{item.nom}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1">{{item.pza}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <button id="button" mat-icon-button color="accent" (click)="addVariante(item)" matTooltip="Agregar variante"
              matTooltipPosition="above">
              <mat-icon aria-label="Agregar variante">add_circle_outline</mat-icon>
            </button>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <mat-card-actions align="middle">
    <div fxFlex></div><button mat-raised-button color="accent" (click)="submitOrderDetail()">Enviar</button>
  </mat-card-actions>
</mat-card>
