<h3>Mis Pedidos</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders" >
        <td>{{order.nro}}</td>
        <td>{{order.cliente.nom}}</td>
        <td>{{order.fem| date:'dd-MM-yyyy'}}</td>
        <td>{{ (order.address && order.address.dir) ?order.address.dir : ""}}</td>
        <button [routerLink]="['/orders/detail', order.id]">Ver Detalle</button> 
      </tr>
     </tbody>
  </table>