<mat-card>
  <mat-card-title>Mis Pedidos</mat-card-title>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-1">Nro</th>
        <th class="col-xs-4">Cliente</th>
        <th class="col-xs-2">Fecha</th>
        <th class="col-xs-4">Direccion</th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="col-xs-1">{{order.nro}}</td>
        <td class="col-xs-4">{{order.cliente.nom}}</td>
        <td class="col-xs-2">{{order.fem| date:'dd-MM-yyyy'}}</td>
        <td class="col-xs-4">{{ (order.address && order.address.dir) ?order.address.dir : ""}}</td>
        <button mat-mini-fab color="accent" class="col-xs-1" [routerLink]="['/orders/detail', order.id]" matTooltip="Ver pedido"
        matTooltipPosition="above">
          <mat-icon aria-label="Ver pedido">search</mat-icon>
        </button>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button color="accent" [routerLink]="['/sellers']"><mat-icon aria-label="Volver">arrow_back</mat-icon> Volver</button>
</mat-card>