<mat-card>
  <mat-card-title>Nuevo cliente</mat-card-title>
  <form [formGroup]="NewCustomerForm" (ngSubmit)="onSubmit()">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Datos del cliente</strong>
          </mat-panel-title>
          <mat-panel-description>
            Información comercial
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="60px">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="nom" #nom>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput type="number" placeholder="C.U.I.T." formControlName="cuit" #cuit>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput type="text" placeholder="Razón Social" formControlName="razonsoc" #razonsoc>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Direcciones</strong>
          </mat-panel-title>
          <mat-panel-description>
            Información de facturación y envíos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div formArrayName="address" class="address">
          <div *ngFor="let address of NewCustomerForm.controls.address.controls; let i=index">
            <div [formGroupName]="i">
              <mat-grid-list cols="3" rowHeight="60px">
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Dirección" formControlName="dir" #dir>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Localidad" formControlName="localidad" #localidad>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Código Postal" formControlName="codpos" #codpos>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Provincia" formControlName="prov" #prov>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>

                  <!--
                        <mat-form-field>
                          <input matInput type="text" placeholder="Flete" formControlName="nom" #flete>
                        </mat-form-field>
-->

                </mat-grid-tile>
              </mat-grid-list>
              <div class="margin-20" align="right">
                <div fxFlex>
                  <a (click)="removeAddress()" style="cursor: pointer" matTooltip="Eliminar Dirección"
                    matTooltipPosition="above">
                    <mat-icon color="warn">remove_circle</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="margin-20" align="right">
            <div fxFlex>
              <a (click)="addAddress()" style="cursor: pointer" matTooltip="Agregar Dirección" matTooltipPosition="above">
                <mat-icon color="accent">add_circle</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-card-actions align="middle">
      <div fxFlex></div><button mat-raised-button color="accent" type="submit">Enviar</button>
    </mat-card-actions>
  </form>
  <!--<p>
    Form Value: {{ NewCustomerForm.value | json }}
  </p>-->
</mat-card>
